@import 'bootstrap-nezabudem'
@import 'bootstrap-custom'
@import 'bootstrap-responsive'
@import 'layout'
@import 'nav'
@import 'forms'
@import 'places'

//"Russo One"
.red
  color: $red
.clickable
  cursor: pointer
  cursor: hand
*
  font-family: Verdana, Geneva, sans-serif
.btn
  @include border-radius(2px)
.border-radius5
  +border-radius(5px)
.border-radius10
  +border-radius(10px)

@import 'bootstrap-fix'
