%p
  Здравствуйте!
%p Получен запрос на смену пароля.
%p= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @token)
%p Если вы не хотите менять пароль, просто удалите это письмо.
