%p
  Здравствуйте #{@resource.email}!
%p Перейдя по ссылке ваш пароль будет изменен
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы не хотели сменить свой пароль, по ссылке переходить не надо
%p Ваш пароль останется прежним, если вы не будете нажимать на ссылку.
