- if flash[:alert]
  %div.alert.alert-error= flash[:alert] 
- if flash[:error]
  %div.alert.alert-error= flash[:error] 
- if flash[:warning]
  %div.alert.alert-error= flash[:warning]
- if flash[:notice]
  %div.alert.alert-error= flash[:notice]
