= stylesheet_link_tag asset_path('redactor.css')

:coffeescript
  $(window).ready ()->
    $("#{id}").redactor
      lang: 'ru'
      path: "http://#{request.host}/assets/redactor"
      css: "#{asset_path('redactor/style.css').match(/\/([^\/]*)\z/)[1..-1][0]}"
