= javascript_include_tag 'messages'
%div.private-message.modal.hide
  %button.close{'data-dismiss'=>"modal"} ×
  %div.modal-header
    %h3 Личное сообщение
  %div.modal-body
    %div#private-message-frame
  %div.modal-footer
    %a.btn{'data-dismiss'=>"modal"} Закрыть

