= javascript_include_tag 'messages'
%div.private-message.modal.hide
  %div.modal-header
    %button.close{'data-dismiss' => "modal", 'aria-hidden' => "true"} ×
    %h3 Личное сообщение
  %div.modal-body
    %div#private-message-frame
  %div.modal-footer
    %a.btn{'data-dismiss' => "modal", 'aria-hidden' => "true"} Закрыть

