= javascript_include_tag 'unregistered'
%div.registration.modal.hide
  %button.close{'data-dismiss'=>"modal"} ×
  %div.modal-header
    %h3 Регистрация
  %div.modal-body
    %p Это быстро… )))
    %div#registration-frame
  %div.modal-footer
    %a.btn{'data-dismiss'=>"modal"} Не буду!

