%div.row
  %div.span8
    %h3 Участвовать в проекте
    %p На интерактивной карте на главной странице Вы можете увидеть уже добавленные объекты.
    %p Для добавления новых объектов или редактирования информации\фото уже существующих Вам необходимо пройти несложную регистрацию или, если регистрация была осуществлена ранее, войти под своим ником на сайт.

    %h3 Как добавить новый объект? 
    %ol
      %li В левом верхнем углу находится кнопка "Добавить объект", кликните на нее и Вы увидите карту и поля ввода под ней. 
      %li Вы можете ввести в поле адреса название интересующего Вас населенного пункта и кликнуть на лупу-поиск для уточнения местоположения объекта или, перемещая курсор по карте, кликнуть на нужную точку.
      %li На карте появится значок обелиска, а в строке "Адрес" автоматически появится его местоположение. 
      %li Далее необходимо ввести в строку "Название" название обелиска в произвольной форме. Например: "Братская могила в г. Чекалин". 
      %li В графе "Описание" Вы можете указать любую информацию по обелиску. Эту графу заполнять не обязательно, но желательно. ВНИМАНИЕ! Поименный список солдат в описании указывать не нужно, для этого есть специальная форма, которая заполняется при добавлении фото обелиска. 
      %li Широта и долгота обелиска определяеются автоматически.
      %li Нажать кнопку "Создать обелиск". 

    %p Обелиск создан и отмечен на карте. Теперь Вы можете редактировать информацию о нем и добавлять фото. 

    %h3 Работа с обычным фото.
    %ol
      %li Выбрав советующую категорию, выберете и загрузите фото. 
      %li Введите название фотографии в произвольной форме. Например "Памятник Александру Чекалину в г. Чекалин.". 
      %li Укажите точную или примерную дату съемки. 
      %li Нажмите кнопку "Загрузить". После загрузки, Вы увидите фотографию на экране.

    %h3 Работа с фото с поименным списком.

    %ol
      %li Выбрав советующую категорию, выберете и загрузите фото.
      %li Введите название фотографии в произвольной форме. Например "Памятник Александру Чекалину в г. Чекалин.".
      %li Укажите точную или примерную дату съемки.
      %li Нажмите кнопку "Загрузить".
      %li После загрузки, Вы увидите фотографию и справа от нее форму добавления фамилий.
      %div.alert-error{:style=>"padding: 10px"}
        %p Каждое фото с поименным списком нуждается в оцифровке!
        %p Фамилию каждого бойца необходимо вносить с новой строки, между строчками не должно быть пробелов и других символов, в том числе названий населенных пунктов. Только ФИО, и если известно воинское звание, годы жизни. 
        %p Вся остальная информация должна быть указана в описании мемориала в графе «Описание».
      %li После заполнения формы кликнуть на кнопку «Добавить». Вы увидите получившийся список  бойцов, который сможете еще раз проверить и отредактировать. Убедившись, что все заполнено верно, нажмите кнопку «Подтвердить список». Фотография будет отмечена как оцифрованная и список бойцов появится в советующем мемориале под картой.
      %li Если Вы добавили фотографию с поименным списком, но по какой-либо причине не можете заняться его оцифровкой, то ничего не вводите в окошке "Список ФИО", тогда фотография автоматически попадет в перечень фото нуждающихся в оцифровке на Главной странице. Будем надеяться, что найдутся энтузиасты, готовые его оцифровать. 

    %h3 Оцифровка списков
    %p Огромное спасибо всем, кто отмечает обелиски на карте и добавляет фотографии! Продолжайте, пожалуйста Вашу работу, нам важен каждый новый объект!
    %p Если у кого-то нет возможности искать обелиски и делать фото, но есть желание помочь проекту, то у нас есть задание и для Вас. 
    %p На сайте выложены фотографии с поименными списками бойцов, но не все из них оцифрованы. Помогите нам выполнить эту кропотливую, но очень важную работу!
    %ol
      %li Для начала работы Вам необходимо  пройти несложную регистрацию или, если регистрация была осуществлена ранее, войти под своим ником на сайт.
      %li 2. На главной странице справа от карты находятся фотографии, нуждающиеся в оцифровке. Кликните на любое фото и оно откроется в новом окне вместе с формой добавления фамилий.
      %li Фамилию каждого бойца необходимо вносить с новой строки, между строчками не должно быть пробелов и других символов, в том числе названий населенных пунктов. Только ФИО, и если известно воинское звание, годы жизни.
      %li После заполнения формы кликнуть на кнопку «Добавить». Фотография будет отмечена как оцифрованная и список бойцов появится в советующем мемориале под картой.
    %h2 Спасибо за участие в проекте!

  %div.span3.pr{:style => 'text-align:center;'}
    %h3 Коды для сайта
    %span.label 200x125
    %br
    %img{:src=>'/i/1.jpg'}
    %h5 HTML
    %textarea{:style=>'height:75px;width:100%;'}
      :plain
        <a target="_blank" style="border:0px;" href="http://nezabudem.net"><img style="width:200px;height:125px;" src="http://nezabudem.net/i/1.jpg"></a>
    %h5 BBCode
    %textarea{:style=>'height:45px;width:100%;'}
      [url=http://nezabudem.net][img]http://nezabudem.net/i/1.jpg[/img][/url]


    %hr
    %span.label 240x400
    %img{:src=>'/i/3.jpg'}
    %h5 HTML
    %textarea{:style=>'height:75px;width:100%;'}
      :plain
        <a target="_blank" style="border:0px;" href="http://nezabudem.net"><img style="width:240px;height:400px;" src="http://nezabudem.net/i/3.jpg"></a>
    %h5 BBCode
    %textarea{:style=>'height:45px;width:100%;'}
      [url=http://nezabudem.net][img]http://nezabudem.net/i/3.jpg[/img][/url]


    %hr
    %span.label 240x400
    %img{:src=>'/i/2.jpg'}
    %h5 HTML
    %textarea{:style=>'height:75px;width:100%;'}
      :plain
        <a target="_blank" style="border:0px;" href="http://nezabudem.net"><img style="width:240px;height:400px;" src="http://nezabudem.net/i/2.jpg"></a>
    %h5 BBCode
    %textarea{:style=>'height:45px;width:100%;'}
      [url=http://nezabudem.net][img]http://nezabudem.net/i/2.jpg[/img][/url]
